getting_started_nodejs/node_project/node_modules

nextjs_docs/from_react_to_nextjs/node_modules
nextjs_docs/from_react_to_nextjs/.next

react_course_01/news-viewer/node_modules
react_course_01/context-tutorial/node_modules
react_course_01/vanilla-redux/node_modules
react_course_01/vanilla-redux/.cache
react_course_01/vanilla-redux/dist

react_course_01/react-redux-tutorial/node_modules

react_course_01/splitting-sample/node_modules
react_course_01/splitting-sample/build
react_course_01/blog/blog-backend/node_modules

react_docs/context/node_modules

modern_javascript_deep_dive/chap44/json-server-exam/node_modules

recoil-docs/recoil-practice/node_modules
recoil-docs/recoil-tutorial/node_modules

# docs
docs/nextjs/tutorial/3_Assets_Metadata_CSS/nextjs-blog/node_modules
docs/nextjs/tutorial/3_Assets_Metadata_CSS/nextjs-blog/.next
docs/nextjs/tutorial/5_Dynamic_Routes/nextjs-blog/node_modules
docs/nextjs/tutorial/5_Dynamic_Routes/nextjs-blog/.next
docs/nextjs/tutorial/6_API_Routes/nextjs-blog/node_modules
docs/nextjs/tutorial/6_API_Routes/nextjs-blog/.next